.inputText {
  font-size: 1rem;
  color: #495057;
  background: #ffffff;
  padding: 0.75rem 0.75rem;
  border: 1px solid #ced4da;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  appearance: none;
  border-radius: 6px;
  margin: auto;
  display: block;
  &:enabled:hover {
    border-color: #6366f1;
  }
  &:focus {
    outline: 0 none;
    box-shadow: 0 0 0 0.2rem #c7d2fe;
    border-color: #6366f1;
  }
}

.divArb {
  width: pxToRem(350);
  height: pxToRem(350);
  border: 1px solid #ced4da;
  padding: 2rem;
  padding-top: 0.5rem;
  margin-top: 1rem;
  word-wrap: break-word;
  word-break: break-word;
  overflow-y: scroll;
}

.divArb::-webkit-scrollbar {
  width: 0;
}

.divInp {
  margin-top: 0.3rem;
}

.divVal {
  color: red;
}

.error {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
  height: 10px;
  color: red;
}

.error .fas {
  color: red;
  font-size: 17px;
  cursor: pointer;
  &:hover {
    color: black;
    transition: 0.3s;
  }
}

.toggleVal {
  display: none;
}
