@import "../../styles/functions/index.scss";
@import "../../styles/mixins/font-styles-mixin.scss";


.btn {
  @include font-styles-mixin;
  height: pxToRem(90);
  background-color: #0101d7;
  border: none;
  color: #fff;
  border-radius: 5px;
  margin-top: 1rem;
  &:hover {
    cursor: pointer;
    background-color: #02029c;
    transition: .3s;
  }
}

.primary {
  color: #008000;
}

.danger {
  color: #ff0000;
}

.secondary {
  color: #000;
}

.fas {
  padding: 10px;
}


.buttonWidth {
  width: pxToRem(200);
}
