@import "../functions/index";
@import "../mixins/flex-mixin";
@import "../mixins/font-styles-mixin";

body {
  @include flex-mixin
}

.btn {
  @include font-styles-mixin;
  height: pxToRem(80);
  background-color: #0101d7;
  border: none;
  color: #fff;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
    background-color: #02029c;
    transition: .3s;
  }
}

.primary {
  color: #008000;
}

.danger {
  color: #ff0000;
}

.secondary {
  color: #000;
}

.fas {
  padding: 10px;
}





