body {
  justify-content: center;
  display: flex;
}

.btn {
  font-weight: 700;
  height: 5rem;
  background-color: #0101d7;
  border: none;
  color: #fff;
  border-radius: 5px;
}
.btn:hover {
  cursor: pointer;
  background-color: #02029c;
  transition: 0.3s;
}

.primary {
  color: #008000;
}

.danger {
  color: #ff0000;
}

.secondary {
  color: #000;
}

.fas {
  padding: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=Button.css.map */
