.spin {
  width: pxToRem(70);
  height: ToRem(80);
  animation: spin 2s linear infinite;
}

.span-hide {
  display: none;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}